/* Style the header. */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > header {
  background-color: #288088;
  border: solid 2px #45ADAD;
  padding: 20px 0px 20px 0px;
  border-radius: 50px 50px 0px 0px;
}

.card > header {
  background-color: #288088;
  border: solid 2px #45ADAD;
  padding: 20px 0px 20px 0px;
  border-radius: 50px 50px 0px 0px;
}

/* Style the logo. */
#logo {
  animation: logo-animation 5s;
}

/* Style the card class. */
.card {
  border-radius: 50px 50px 0px 0px;
  width: 450px;
}

/* Style the pricing class. */
.pricing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: stretch;
}

/* Style the body element. */
body {
  font-family: "Poppins";
  background-image: url("../images/concrete_seamless.png");  
  background-color: #f1f1f1;
}

/* Style the gallery class. */
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.gallery img {
  border: solid 10px #50C7C7;
  width: 300px;
  margin: 10px 10px 10px 10px;
}

/* Style the links. */
a:visited {
  color: inherit; /* Uses the default text color */
  text-decoration: none;
}

/* Style the logo animation */
@keyframes logo-animation {
  from {
    width: 25px;
    opacity: 0;
  }
  to {
    width: 475px;
    opacity: 1;
  }
}

/* Styling for screen widths 1200px+ */
@media screen and (min-width: 1200px) {
    /* Style the body header. */
    body > header {
      position: sticky;
      width: 100%;
      top: 0;
    }

    /* Style the headers. */
    header {
      flex-direction: row;
      justify-content: space-between;
    }

    /* Style the navigation links. */
    .nav_links {
      display: flex;
      flex-direction: row;
    }

    .pricing {
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
    }

    .card {
      flex-basis: 275px;
      height: fit-content;
    }
}

@media print {
  /* Style the printing display query. */
  body {
    font-family: Arial, Helvetica;
    background-image: none;
  }

  /* Style the header for printing. */
  body > header {
    flex-direction: column;
    justify-content: center;
  }

  /* Style navigation elements. */
  nav {
    width: 100%;
  }

  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .pricing {
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .pricing .card {
    border: 2px solid #45ADDD;
    width: none;
    /* Ensures consistent card width in print */
    flex-basis: 325px;
  }

  .card {
    flex-basis: 275px;
    height: fit-content;
  }
  
  /* Adds a thumbs-up emoji to the last list item */
  .card ul li:last-of-type::after {
    content: " 👍"; 
  }

  /* Hides the gallery text when printing */
  #gallery {
    display: none;
  }

  /* Ensures all gallery images are hidden */
  .gallery {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  /* Style the reduced motion query. */
  #logo {
    animation: none;
  }
}